*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#E2E8f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 450px;
    height: 600px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    padding: 30px;
    border-radius: 20px;
}

.up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.up img{
    width: 100px;
    padding-right: 10px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2E8f0;
    padding: 2px 0;
    border-radius: 25px;
    width: 335px;
    margin-top: 30px ;
}

.login a{
    padding: 7px 25px;
    width: 120px;
    display: flex;
    justify-content: center;
    margin: 0 3px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    background-color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    margin-top: 30px;
    

}

.email{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 70%;
}

.password{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 70%;
}

input{
    padding: 15px;
    border-radius: 10px;
    color: black;
    background-color: #7f8ea3;
    font-size: 15px;
    font-weight:600;
    border: 1px solid rgba(8, 87, 235, 0.952) ;
    margin-top: 5px;
    outline:rgba(49, 138, 255, 0.993) ;
}

button{
    margin: 20px 0;
    width: 240px;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    background-color:#2196f3;
    color: white;
    margin-top: 5px;
}